.Button {
    display: block;
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}

Button.white {
    color: black;
    background-color: white;
}

.Button.black {
    color: white;
    background-color: black;
}